.clear {
  clear: both;
}
.fl {
  float: left;
}
.header {
  background-color: rgba(164, 235, 226, 0.3);
  padding: 30px;
  height: 140px;
}
.header .desc {
  font-size: 18px;
  font-family: "Microsoft YaHei", "微软雅黑", STXihei;
  color: #999999;
}
.header .navBtn {
  float: right;
  color: #8bc2bb;
  border: 1px solid #8bc2bb;
  padding: 10px 40px;
  border-radius: 6px;
  cursor: pointer;
}
.header .navBtn:hover {
  background-color: #e6f4f2;
}
.header .title {
  text-align: center;
  color: #8bc2bb;
  font-family: 'STFangsong';
}
.header .title h1 {
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
}
.header .title p {
  font-size: 24px;
}
.header .title .line {
  height: 1px;
  background-color: #8bc2bb;
  width: 300px;
  display: inline-block;
  margin: 22px;
}
.nav {
  display: none;
  width: 155px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e6f4f2;
  background-color: #fff;
  padding: 30px;
}
.nav .arrow {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../images/arrow.png");
  position: absolute;
  margin-left: -65px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.nav li a {
  font: 18px 'STFangsong';
  color: #999999;
  line-height: 40px;
  height: 40px;
  padding: 10px 0;
}
.nav li a.act {
  color: #8bc2bb;
  border-bottom: 1px solid #8bc2bb;
}
.nav li a:hover {
  color: #8bc2bb;
}
.content {
  background-color: #dde6e6;
  height: 100%;
  padding: 30px;
}
body,
p {
  margin: 0;
}
html,
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
