@import url("../global.less");
@import url("../reset.less");


.title{
	h1{
		font-size: 60px;
		font-weight: lighter;
		margin: 0;
	}

	p{
		font-size: 24px;
	}
}

.content{
	padding: 90px;
	text-align: center;

	h3,p{
		margin: 0;
		font-weight: lighter;
		line-height: 48px;
		font-size: 24px;
		font-family: @font-en;
		color: @color-grey;
	}

}

